@media(max-width: 768px){

	body{
		font-size: 12px;
	}


	.header{
		flex-direction: column;
	}
	.logo{
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	.menu{
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	}
	
	.features__row{
		justify-content: center;
	}

	.features__item{
		width: 60%;
		justify-content: center; 
	}

	.work__item{
		width: 50%;
	}

	.team__inner{
		width: 45%;
		margin-bottom: 2em;

		&:first-child{
			margin-left: 1.5em;
		}
		&:nth-child(3n){
			margin-left: 1.5em;
		}
	}
	.clients__slide{

		&--img{
			width: 100%;
		}
		
	}
	.clients__des{
			width: 100%;
	}

	.clients__text--subtitle{
		padding-bottom: 3em;
	}

	.footer{
		flex-direction: column;
	}
	.location{
		width: 100%;
		margin-bottom: 2.5em;
	}
	.share{
		width: 100%;
		margin-bottom: 2.5em;
	}
	.about{
		width: 100%;
		margin-bottom: 2.5em;
	}

}