@media(max-width: 920px) {
	body{
		font-style: 14px;
	}
}



@media(max-width: 768px){

	body{
		font-size: 12px;
	}


	.header{
		flex-direction: column;
	}
	.logo{
		width: 100%;
		align-items: left;
		justify-content: center;
		margin: 2em 0;
	}
	.menu{
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&__item{
			display: none;
		}
		
	}
	.mobile-menu{
		display: block;

	}
	
	.features__row{
		justify-content: center;
	}

	.features__item{
		width: 90%;
		justify-content: center; 
	}

	.work__item{
		width: 50%;
	}

	.team__inner{
		width: 45%;
		margin-bottom: 2em;

		&:first-child{
			margin-left: 1.5em;
		}
		&:nth-child(3n){
			margin-left: 1.5em;
		}
	}
	.clients__slide{

		&--img{
			width: 100%;
		}
		
	}
	.clients__des{
			width: 100%;
	}

	.clients__text--subtitle{
		padding-bottom: 3em;
	}

	.footer{
		flex-direction: column;
	}
	.location{
		width: 100%;
		margin-bottom: 2.5em;
	}
	.share{
		width: 100%;
		margin-bottom: 2.5em;
	}
	.about{
		width: 100%;
		margin-bottom: 2.5em;
	}

}

@media (max-width: 320px){
	body{
		font-size: 10px;
	}

	.mobile-menu{
		display: block;
		right: 30px;

	}
	
	.team__inner{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	.clients__text--suptext{
		font-size: 1.75em;
	}

}