.team-block{
	padding: 6.3em 0;
}

.team{
	width: 100%;
	display: flex;
	flex-flow: row wrap;


	&__inner{
		width: 23%;
		margin-right: 2.6%;
		&:last-child{
			margin-right: 0;
		}
	}
	&__img{
		width: 100%;
		margin-bottom: 2em;
	}
	&__des{
		font-weight: 400;

		&--title{
			font-size: 1.375em;
			color: #2d3033;
			text-transform: uppercase;
		}
		&--subtitle{
			color: #e84545;
			font-size: 0.8125em;
			text-transform: uppercase;
			padding: 1em 0 1.8125em 0;
		}
		&--text{
			font-size: 0.875em;
			color: #6c7279;
			line-height: 1.5;
		}
	}
	&__socialbtn{
		display: flex;
		justify-content: flex-start;
		margin-top: 2em;

		&--fb{
			display: block;
			text-decoration: none;
			padding: 11px 16px;
			border: 1px solid  #c6cacc;
			margin-right: 4px;
		}
		&--tw{
			display: block;
			text-decoration: none;
			padding: 10px 13px;
			border: 1px solid  #c6cacc;
			margin-right: 4px;
		}
		&--inst{
			display: block;
			text-decoration: none;
			padding: 12px ;
			border: 1px solid  #c6cacc;
			
		}
	}
}